#fallback
**/** @rhoads-zach

#specific files
docs/contrib-guide/master.adoc @tradej
openshift/* @gastaldi
**/*.build_guide.sh @rhoads-zach
scripts/build_guides.sh @rhoads-zach
scripts/add_guide.sh @rhoads-zach
scripts/deploy_launchpad_mission.sh @rhoads-zach
scripts/Dockerfile @rhoads-zach
scripts/entrypoint.sh @gastaldi
scripts/generate_changelog.sh @tradej
scripts/tag_release.sh @tradej
scripts/validate_guides.sh @tradej

docs/topics/readme/** @rhoads-zach
docs/topics/templates/** @rhoads-zach
docs/topics/getting-started* @rhoads-zach
docs/topics/crud-mission* @inoxx03
docs/topics/circuit-breaker-mission* @inoxx03  
docs/topics/contributing* @tradej

CHANGELOG.adoc @inoxx03
cico_build_deploy.sh @tradej
Dockerfile.build @gastaldi
Dockerfile.deploy @gastaldi
nginx.conf @gastaldi
README.adoc @tradej
