#fallback
**/** @tradej

#specific files
docs/contrib-guide/master.adoc @tradej
openshift/* @gastaldi
**/*.build_guide.sh @tradej
scripts/** @tradej
scripts/entrypoint.sh @gastaldi

docs/topics/readme/** @tradej
docs/topics/templates/** @tradej

CHANGELOG.adoc @inoxx03
cico_build_deploy.sh @tradej
Dockerfile.build @gastaldi
Dockerfile.deploy @gastaldi
nginx.conf @gastaldi
README.adoc @tradej

